---
layout: default
---
<!-- 
Add new image descriptors to /_images, add images themselves to /images.
You can use `weight` to change image order (highest first).
You can use `offset` to offset the image from its default position.
 -->


<div class="links">
<a href="https://bowsamic.bandcamp.com" target="_blank">bandcamp</a>
<a href="https://soundcloud.com/bowsamic" target="_blank">soundcloud</a>
<a href="https://twitter.com/bowsamic" target="_blank">twitter</a>
<a href="/about.html">about</a>
</div>

<div class="header"><img src="/images/bandcamp wordart.png" /></div>

{% assign sorted_photos = site.images | sort: "weight" | reverse %}
<div class="content">
    <div>
        <div>
        {% for image in sorted_photos  %}
            <div class="box">
                <a href="{{ image.url }}">
                    <!-- Add hover animation if there is a hover image available -->
                    {% if image.hover_image_path %}
                    <img src="{{ image.image_path }}" alt="{{ image.title }}"
                        style="left:{{image.offset.x}};top:{{image.offset.y}};"
                        onMouseOver="this.src=&quot;{{ image.hover_image_path}}&quot;"
                        onMouseOut="this.src=&quot;{{ image.image_path}}&quot;" />
                    {% else %}
                    <img src="{{ image.image_path }}" alt="{{ image.title }}"
                        style="left:{{image.offset.x}};top:{{image.offset.y}};"/>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
